    <!-- Footer starts here -->
    <footer class="flex flex-col justify-between items-center px-6 py-4 sm:flex-row">
        <a href="#" class="text-xl font-bold hover:text-gray-700 dark:hover:text-gray-300">NTO</a>
        
        <p class="py-2 sm:py-0">© 2021, Nancy Onukogu's Portfolio</p>
    </footer>  
    <!-- Footer ends here -->

    <!-- AOS -->
    <script src="https://unpkg.com/aos@2.3.1/dist/aos.js"></script>
    <script>
        AOS.init({
            duration: 1000,
            delay: 2650,
        });

        function loadAbout() {
            try {
                window.location.href = 'http://www.nancytochi.com/#about';
            } catch (error) {
                window.location.reload()
            }
        }

        function loadProject() {
            try {
                window.location.href = 'http://www.nancytochi.com/#projects';
            } catch (error) {
                window.location.reload()
            }
        }

        function loadContact() {
            try {
                window.location.href = 'http://www.nancytochi.com/#contact';
            } catch (error) {
                window.location.reload()
            }
        }

        var aboutButton = document.getElementById('about-button');
        aboutButton.addEventListener('click', loadAbout);

        var projectButton = document.getElementById('project-button');
        projectButton.addEventListener('click', loadProject);

        var contactButton = document.getElementById('contact-button');
        contactButton.addEventListener('click', loadContact);
    </script>
</body>
</html>