    <!-- Footer starts here -->
    <footer class="flex flex-col justify-between items-center px-6 py-4 sm:flex-row">
        <a href="#" class="text-xl font-bold hover:text-gray-700 dark:hover:text-gray-300">NTO</a>
        
        <p class="py-2 sm:py-0">© 2021, Nancy Onukogu's Portfolio</p>
    </footer>  
    <!-- Footer ends here -->

    <!-- AOS -->
    <script src="https://unpkg.com/aos@2.3.1/dist/aos.js"></script>
    <script>
        AOS.init({
            duration: 1000,
            delay: 2650,
        });
    </script>
</body>
</html>