<%- include('./partials/header') %>

<main>
    <section class="shadow h-auto mt-3 pb-20 md:pt-20">
        <p>Here I share some books I've read that has helped  me ... in propramming, culture, society .. one way or the other.</p>
        <p> I created this section with the hope that one day, I’ll get my act together and start writing regularly. Until then, this blank space will haunt me.</p>
        <ul>
            <li>Peak: Secrets From The New Science Of Expertise</li>
            <li>The Power Of Your Mind</li>
            <li>Start With Why</li>
            <li>Big Magic</li>
            <li>Born A Crime</li>
            <li>Dear Ijeawele or...</li>
            <li>The Girls</li>
        </ul>
    </section>
</main>

<%- include('./partials/footer') %>