<%- include('./partials/header') %>

<!-- Hero section starts here -->
<section id="hero" class="h-auto">
    <div>
        <div class="animate greeting">Hey there,</div>
        <div class="animate"><span class="name-1">I'm Nancy</span></div>

        <div class="title mt-1 md:mt-0" data-aos="fade-down">Software Developer
            <div class="mt-1">
                <svg class="inline" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 30" width="24" height="30"><path fill="none" d="M0 0h24v24H0z"/><path d="M12 20.9l4.95-4.95a7 7 0 1 0-9.9 0L12 20.9zm0 2.828l-6.364-6.364a9 9 0 1 1 12.728 0L12 23.728zM12 13a2 2 0 1 0 0-4 2 2 0 0 0 0 4zm0 2a4 4 0 1 1 0-8 4 4 0 0 1 0 8z" fill="rgba(231,76,60,1)"/></svg>

                <p class="inline">New York</p>
            </div>
        </div>

        <div class="mt-28">
            <svg class="animate-bounce w-6 h-6 block m-auto" fill="currentColor" viewBox="0 0 20 20" xmlns="http://www.w3.org/2000/svg"><path fill-rule="evenodd" d="M16.707 10.293a1 1 0 010 1.414l-6 6a1 1 0 01-1.414 0l-6-6a1 1 0 111.414-1.414L9 14.586V3a1 1 0 012 0v11.586l4.293-4.293a1 1 0 011.414 0z" clip-rule="evenodd"></path></svg>
        </div>
    </div>
</section>
<!-- Hero section ends here -->

<!-- About me starts here -->
<section id="about" class="h-auto mt-40 pt-10 pb-20 md:pt-20">
    <h1 class="font-extrabold text-3xl md:text-5xl text-center hover:text-red-400">A bit about me.</h1>

    <div class="px-10 md:px-12 pt-10">
        <div class="max-w-4xl mx-auto text-md">
            <p class="text-xl md:text-2xl">
                I'm a front-end developer. I enjoy creating things on the web. I regularly design & build small to medium-scale applications for clients ranging from individuals to small businesses. My goal is to always build products that provide smooth user experiences.
            </p>

            <p class="mt-3 text-xl md:text-2xl">
                I use technologies such as HTML & (S)CSS, TailwindCSS, JavaScript, NodeJS, MongoDB, and WordPress in my web applications.
            </p>

            <p class="mt-3 text-xl md:text-2xl">
                Currently tinkering my head around the awesome ReactJS & Redux. When I am not learning new technologies, I spend my time bringing creative ideas to life at <a class="underline hover:underline hover:text-red-400" href="https://www.doremaspire.com/">Dorema Spire</a>.
            </p>

            <!-- todo: create a books page with book recommendations & lessons learnt -->
            <p class="mt-3 text-xl md:text-2xl">
                When I'm not coding, you can find me volunteering at my local church, catching up on my <a class="underline hover:underline hover:text-red-400" href="/books">latest read</a>, or enjoying a K-drama with my younger sister.
            </p>

            <p class="mt-3 text-xl md:text-2xl">
                I have found a fulfilling creative path through coding. I’m grateful that I am in a field where one of the major requirements for staying relevant is to keep learning. Cheers to that! 🥂
            </p>
            
        </div>
    </div>
</section>
<!-- About me ends here -->

<!-- Contact starts here -->
<section id="contact" class="md:h-auto pb-12 md:py-28 text-center shadow">
    <h1 class="font-extrabold text-3xl md:text-5xl hover:text-red-400">Get in touch.</h1>

    <div class="px-8 pt-10">
        <div class="max-w-4xl mx-auto text-md">
            <p class="text-xl md:text-2xl md:leading-10">
                Want me to work on your project or your team? My inbox is always open whether it's for a potential client, a recruiter or to simply say hi.
            </p>

            <p class="mt-12 text-xl md:text-2xl">
                <a href="mailto: nancytochi24@gmail.com" class="hover:underline hover:text-red-400">Email</a> |
                <a href="https://twitter.com/messages/compose?recipient_id=4480364673" class="hover:underline hover:text-red-400">Twitter</a> |
                <a href="#" class="hover:underline hover:text-red-400">LinkedIn</a> |
                <a href="https://github.com/ntochi" class="hover:underline hover:text-red-400">Github</a>
            </p>
        </div>
    </div>
</section> 
<!-- Contact ends here -->

<!-- Thanks for visiting starts here -->
<section class="shadow">
    <div class="flex flex-wrap-reverse lg:flex-wrap justify-center mx-auto mt-10 pb-10">
        <div class="lg:w-2/5 flex items-center pt-10 md:pt-0">
            <div class="max-w-sm mx-auto">
                <img class="w-full h-auto object-cover object-center"
                    src="https://lh3.googleusercontent.com/bPtXHNRAxA4S60mWrTKOmrvWyKYK9fgF37YE5DcM32rLb0RNUVMeBI5Msq96mDxUYL-Av02q2JssbMoi03mXJvEU72Kxqw161xonwvJ3s0m3X3g4JWNP0sLw8Qcm9Ymr1Yrcr5O1lA=w2400"
                    alt="Picture of Nancy at Brooklyn Bridge">
            </div>
        </div>

        <div class="lg:w-3/5 md:flex justify-center items-center">
            <div class="px-4 text-center text-2xl md:text-3xl lg:text-5xl">
                Thank you for visiting! ❤️
            </div>
        </div>
    </div>
</section>
<!-- Thanks for visiting ends here -->

<%- include('./partials/footer') %>