<%- include('../../partials/header.ejs') %>

<div class="flex h-screen">
  <div class="mx-auto space-y-8">
    <h2 class="md:mt-10 font-bold capitalize text-center text-xl md:text-3xl hover:text-red-400">
      are you foolish?
    </h2>

    <div class="max-w-2xl space-y-8 md:text-xl">
      <p class="italic font-semibold">Galatians 3:3</p>

      <p class="italic font-semibold">Are you so foolish? After beginning by means of the Spirit, are you now trying to finish by means of the flesh?</p>

      <p>
        When you begin to see the fruits of your obedience through trusting God at different seasons in your life, do not be tempted to continue on in your own strength.
      </p>

      <p>Stay planted, keep trusting 🌱</p>
    </div>

  </div>
</div>


<%- include('../../partials/footer.ejs') %>
