<%- include('../../partials/header.ejs') %>

<div class="flex h-auto">
  <div class="mx-auto space-y-8">
    <h2 class="md:mt-10 font-bold capitalize text-center text-xl md:text-3xl hover:text-red-400">
      fight to win
    </h2>

    <div class="max-w-2xl space-y-8 md:text-xl">
      <p class="italic font-semibold">1 Corinthians 9:24-26</p>

      <p class="italic font-semibold">Don’t you realize that in a race everyone runs, but only one person gets the prize? So run to win! All athletes are disciplined in their training. They do it to win a prize that will fade away, but we do it for an eternal prize. So I run with purpose in every step; so I fight, not as one who beats the air.
      </p>

      <p>
        You never can tell the glory that God wants to get from that seemingly insignificant but difficult situation.  
      </p>

      <p>
        We live for His glory.
      </p>

      <p>
        So in fighting your fight of faith, fight to win!
      </p>
    </div>

    <span class="float-right py-8 text-xl hover:text-red-400 underline ">
      <a href="/blog/faith">Go back</a>
    </span>
  </div>
</div>


<%- include('../../partials/footer.ejs') %>
