<%- include('../../partials/header.ejs') %>

<div class="flex h-screen">
  <div class="mx-auto space-y-8">
    <h2 class="mt-10 font-bold capitalize text-center text-2xl md:text-3xl hover:text-red-400">
      Grace
    </h2>

    <div class="px-4 md:px-0 max-w-2xl space-y-8 md:text-xl">
      <p class="italic font-semibold text-center">
        Romans 11:6
      </p>

      <p class="italic font-semibold">
        And if by grace, then it is no longer of works; otherwise grace is no longer grace. But if it is of works, it is no longer grace; otherwise work is no longer work.
      </p>

      <p class="md:pt-8">
        Has the scriptures ever made you laugh? This did 😂
      </p>
    </div>

    <span class="float-right py-4 md:py-8 text-xl hover:text-red-400 underline ">
      <a href="/blog/faith">Go back</a>
    </span>
  </div>
</div>


<%- include('../../partials/footer.ejs') %>
