<%- include('../../partials/header.ejs') %>

<div class="flex h-screen">
  <div class="mx-auto space-y-8">
    <h2 class="mt-10 font-bold capitalize text-center text-2xl md:text-3xl hover:text-red-400">
      Happy New Year
    </h2>

    <div class="px-4 md:px-0 max-w-2xl space-y-8 md:text-xl">
      <p class="italic font-semibold text-center">Ecclesiastes 3:1</p>

      <p class="italic font-semibold text-center">For everything there is a season, and a time for every purpose under heaven</p>

      <p>
        The start of a new calendar year isn't necessarily an indication of a new season in your life.
      </p>

      <p>
        Don't let the festive season and the seemingly "better" accomplishments of others push you into setting unrealistic goals and undue expectations for yourself in the New Year.
      </p>

      <p>
        Instead, let this season be an opportunity to be grateful- grateful to God for His grace, mercy & love.
      </p>

      <p>
        Let it be time to reflect on all the things that the Lord has wrought through you. 
      </p>

      <p>
        Let it be a time of sharing- spending time with friends, family & loved ones.
      </p>

      <p>
        In my home language, there is a saying that goes thus "Mgbe Onye Ji Tete Bu Utụtụ Ya". This means that "When A Person Wakes Up Is Their Morning".
      </p>

      <p>
        So when you decide a period is your “new year”, let it be your new year. 
      </p>
    </div>

    <span class="float-right py-4 md:py-8 text-xl hover:text-red-400 underline ">
      <a href="/blog/faith">Go back</a>
    </span>
  </div>
</div>


<%- include('../../partials/footer.ejs') %>
