<%- include('../../partials/header.ejs') %>

<div class="flex h-auto">
  <div class="mx-auto space-y-8">
    <h2 class="mt-10 font-bold capitalize text-center text-2xl md:text-3xl hover:text-red-400">
      highlands
    </h2>

    <div class="px-4 md:px-0 max-w-2xl space-y-8 text-lg md:text-xl">
      <p class="italic font-semibold text-center">
        Mark 8:35-37
      </p>

      <p class="italic font-semibold text-justify">
        For whoever wants to save his life will lose it, but whoever loses his life for My sake and for the gospel will save it. What does it profit a man to gain the whole world, yet forfeit his soul? Or what can a man give in exchange for his soul?
      </p>

      <p>
        As a Christian, the Holy Spirit puts a restrain in your heart for the pleasures & desires for the things of this world. This world is not your home.  
      </p>

      <p>
        Even as kingdoms of this world have risen and fallen, the desire for the ‘high’ places of the world has been seen time and time again to come at a cost- your soul. 
      </p>

      <p>
        You can’t truly live a Christian life and have an inordinate desire for worldly things.
      </p>

      <p>
        Renew your mind, Heaven is the ultimate! 
      </p>
    </div>

    <span class="float-right pt-8 text-xl hover:text-red-400 underline ">
      <a href="/blog/faith">Go back</a>
    </span>
  </div>
</div>


<%- include('../../partials/footer.ejs') %>
