<%- include('../../partials/header.ejs') %>

<div class="flex h-screen">
  <div class="mx-auto space-y-8">
    <h2 class="md:mt-10 font-bold capitalize text-center text-xl md:text-3xl hover:text-red-400">
      human god
    </h2>

    <!-- <div class="max-w-2xl space-y-8 md:text-xl">
      <p class="italic font-semibold">Galatians 3:3</p>

      <p class="italic font-semibold">Are you so foolish? After beginning by means of the Spirit, are you now trying to finish by means of the flesh?</p>

      <p>
        The most miserable position you can ever hold is to be the God in someone else’s life. 
      </p>
    </div>
 -->
    <span class="float-right pt-8 text-xl hover:text-red-400 underline ">
      <a href="/blog/faith">Go back</a>
    </span>
  </div>
</div>


<%- include('../../partials/footer.ejs') %>
