<%- include('../../partials/header.ejs') %>

  <div class="flex h-auto md:mb-8">
    <div class="mx-auto space-y-8">
      <p class="md:mt-10 md:text-3xl capitalize text-center">here you find some my musings about <br> the Gospel of Jesus Christ</p>

      <h2 class="font-bold capitalize text-center text-xl md:text-3xl  hover:text-red-400">
        recent posts
      </h2>

      <div>
        <ul class="capitalize text-center md:text-xl space-y-4">
          <li class="hover:underline hover:text-red-400">
            <a href="/blog/faith/are-you-foolish">are you foolish?</a>
          </li>

          <li class="hover:underline hover:text-red-400">
            <a href="/blog/faith/fight-to-win">fight to win</a>
          </li>

          <li class="hover:underline hover:text-red-400">
            <a href="/blog/faith/human-god">human god</a>
          </li>

          <li class="hover:underline hover:text-red-400">
            <a href="/blog/faith/grace">grace</a>
          </li>

          <li class="hover:underline hover:text-red-400">
            <a href="/blog/faith/highlands">highlands</a>
          </li>

          <li class="hover:underline hover:text-red-400">
            <a href="">javaScript objects</a>
          </li>

          <li class="hover:underline hover:text-red-400">
            <a href="">nations</a>
          </li>

          <li class="hover:underline hover:text-red-400">
            <a href="">limited</a>
          </li>

          <li class="hover:underline hover:text-red-400">
            <a href="">comparison trap</a>
          </li>

          <li class="hover:underline hover:text-red-400">
            <a href="">accountability</a>
          </li>

          <li class="hover:underline hover:text-red-400">
            <a href="">conscience</a>
          </li>

          <li class="hover:underline hover:text-red-400">
            <a href="">cultured by the word</a>
          </li>
          <li class="hover:underline hover:text-red-400">
            <a href="">the will of god</a>
          </li>
          <li class="hover:underline hover:text-red-400">
            <a href="">distractions</a>
          </li>
          <li class="hover:underline hover:text-red-400">
            <a href="">sincerity & righteousness</a>
          </li>
          <li class="hover:underline hover:text-red-400">
            <a href="">don't gather the gleanings</a>
          </li>
          <li class="hover:underline hover:text-red-400">
            <a href="">agreement</a>
          </li>
          <li class="hover:underline hover:text-red-400">
            <a href="">living amazed</a>
          </li>
          <li class="hover:underline hover:text-red-400">
            <a href="">mortify</a>
          </li>
          <li class="hover:underline hover:text-red-400">
            <a href="">know what to hate</a>
          </li>
          <li class="hover:underline hover:text-red-400">
            <a href="">prayer</a>
          </li>
          <li class="hover:underline hover:text-red-400">
            <a href="">sound code</a>
          </li>
          <li class="hover:underline hover:text-red-400">
            <a href="">self-control</a>
          </li>

          <li class="hover:underline hover:text-red-400">
            <a href="">faith, an action word</a>
          </li>
          <li class="hover:underline hover:text-red-400">
            <a href="">soul-winning</a>
          </li>

          <li class="hover:underline hover:text-red-400">
            <a href="">baptism</a>
          </li>

          <li class="hover:underline hover:text-red-400">
            <a href="">thought line</a>
          </li>

          <li class="hover:underline hover:text-red-400">
            <a href="">visioneering</a>
          </li>

          <li class="hover:underline hover:text-red-400">
            <a href="">don't take a holiday</a>
          </li>

          <li class="hover:underline hover:text-red-400">
            <a href="">justification</a>
          </li>
        </ul>
      </div>

    </div>
  </div>

<%- include('../../partials/footer.ejs') %>
