<%- include('../partials/header') %>

<section class="h-auto md:h-screen max-w-4xl mx-auto md:mt-20 pt-8">
    <div class="pt-10 my-20 md:pt-0 md:my-10 space-y-8">
        <h1 class="px-2 md:px-1 font-extrabold capitalize text-center text-5xl md:text-8xl hover:text-red-400">
            welcome to my digital 
            <span> 
                <a href="https://joelhooks.com/digital-garden" class="hover:underline">garden</a> 
            </span>
        </h1>

        <div class="hidden md:flex md:justify-evenly md:text-2xl">
            <span class="hover:underline hover:text-red-400">
              <a href="/blog/faith">Faith</a>
           </span>    

            <span class="hover:underline hover:text-red-400">Programming</span>

            <span class="hover:underline hover:text-red-400">Book Reviews</span>

        </div>

        <!-- What it looks like on a smaller screen -->
        <div>
            <ul class="md:hidden text-xl text-center space-y-4">
                <li class="hover:underline hover:text-red-400">
                    <a href="/blog/faith">Faith</a>
                </li>
                <li class="hover:underline hover:text-red-400">
                    <a href="">Programming</a>
                </li>
                <li class="hover:underline hover:text-red-400">
                    <a href="">Book Reviews</a>
                </li>
            </ul>
        </div>
    </div>
</section>

<%- include('../partials/footer') %>
