<%- include('../partials/header') %>

<section class="h-auto max-w-4xl mx-auto pt-8 pb-20 md:pt-14">
    <h1 class="font-extrabold text-3xl md:text-5xl text-left hover:text-red-400">
       Some Thoughts
    </h1>

    <div class="pt-10 text-justify">
        <div>
            <p class="italics text-xl text-gray-600">July 09, 2021</p>
            <a class="font-bold text-xl md:text-3xl text-left hover:text-red-400 underline" href="#">
                Books (more appropriate title)
            </a>

            <p class="text-xl md:text-2xl">
                Lorem ipsum dolor sit amet consectetur adipisicing elit. Ipsam, labore harum quam voluptates sint sed nam nemo assumenda. Voluptatum nostrum minima neque quidem, tempore quaerat et esse id sunt ipsum accusantium, hic velit eum excepturi aspernatur? Ducimus odit, 
            </p>    
        </div>

        <div class="mt-9">
            <p class="italics text-xl text-gray-600">July 09, 2021</p>
            <a class="font-bold text-xl md:text-3xl text-left hover:text-red-400 underline" href="#">
                Race (more appropriate title)
            </a>

            <p class="text-xl md:text-2xl">
                Odio dignissimos, atque veniam perferendis, aperiam ipsa cumque laborum delectus soluta eveniet maxime tempora porro iste harum fugiat molestiae quod illo! Illo, minima ullam neque rerum facilis voluptatibus sequi eos. Odit consequuntur laboriosam laborum eveniet necessitatibus molestiae iusto unde illo, accusantium magnam quos,
            </p>    
        </div>
    </div>
</section>

<%- include('../partials/footer') %>
