<%- include('../partials/header') %>

<section class="h-96 max-w-4xl mx-auto md:mt-20 pt-8">
    <div class="mb-auto space-y-8">
        <h1 class="font-extrabold capitalize text-center text-3xl md:text-8xl  hover:text-red-400">
            welcome to my digital 
            <span> 
                <a href="https://joelhooks.com/digital-garden" class="hover:underline">garden</a> 
            </span>
        </h1>

        <div class="md:flex md:justify-evenly md:text-2xl">
            <span class="hover:underline hover:text-red-400">Programming</span>

            <span class="hover:underline hover:text-red-400">Book Reviews</span>

            <span class="hover:underline hover:text-red-400">
               <a href="/blog/faith">Faith</a>
            </span>    
        </div>
    </div>
</section>

<%- include('../partials/footer') %>
