@import "./nav";
@import "./scroll";

#hero{
    text-align: center;
    height: 100vh;
    padding-top: 25vh;
    overflow: hidden;
    color: $colorBg;
    

    .animate {
        display:inline-block;
        overflow: hidden;
        white-space: nowrap;
        font-size: 2.3rem;
    }

    
    .greeting {
        font-weight: 600;
        animation: showup 7s infinite;
    }

    .name-1{
        margin-left: -355px;
        animation: slidein 7s infinite;
    }

    @keyframes showup {
        0% {opacity:0;}
        20% {opacity:1;}
        80% {opacity:1;}
        100% {opacity:1;}
    }
    
    @keyframes slidein {
        0% {margin-left:-800px; }
        20% {margin-left:-800px; }
        35% {margin-left:0px; }
        100% { margin-left:0px; }
    }
    
    .title{
        font-size: 1.25rem;
    }
}


#about{
    height: 100vh;
    text-align: justify;
    margin: 5% 0;
    padding: 6% 0;

    .content{
        padding-right: 3%;
    }

    img{
        max-width: 100%;
        height: auto;
        display: block;
        padding-top: 2%;
    }

}

#projects{
    height: 100vh;
    margin: 5% 0;
    padding: 6% 0;

}

#tools{
    height: 100vh;
    margin: 5% 0;
    padding: 6% 0;


}

#contact{
    height: 100vh;
    margin: 5% 0;
    padding: 6% 0;


}